<ion-modal-view ng-controller="DishCommentController">
  <ion-header-bar>
    <h1 class="title">Dish Comment</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeComment()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="commentForm" name="commentForm" ng-submit="submitComment()">
      <div class="list">
        <label class="item item-input item-select">
          <span class="input-label">Rating</span>
            <select ng-model="mycomment.rating">
                <option ng-repeat="n in [1,2,3,4,5]" value="{{n}}">{{n}}</option>
            </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="mycomment.author">
        </label>
        <label class="item item-input">
          <span class="input-label">Comment</span>
          <input type="text" ng-model="mycomment.comment">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Comment</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>